@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Hairline&family=Gasoek+One&family=Rubik+Mono+One&family=Tilt+Warp&display=swap');

body{
    background-color: black;
    margin: 0;
    
}

::-webkit-scrollbar{
    display: none;
}

#title{
    margin: 4vw;
    font-size: 4vw;
    font-family: 'Tilt Warp';
    letter-spacing: 0.5vw;
    color: white;
    user-select: none;
}

h3{
    letter-spacing: 0.1vw;

    margin: 4vh 4vw 0 4vw;
    color: white;
    max-width: 65ch;
    font-family: 'Bebas Neue';
    font-size: 2vw;
    text-align: center;
    text-align: left;
    font-weight: 100;
}

p{
    margin: 0 4vw 4vh 4vw;
    color: white;
    font-family: 'Tilt Warp';
    font-size: 1.15vw;
    text-align: left;
    max-width: 75ch;
}

#enclave{
    margin: 10px 4vw;
    color: black;
    max-width: 65ch;
    font-family: 'Tilt Warp';
    font-size: 1.35vw;
    text-align: center;
    letter-spacing: 0.35vw;
    background-color: white;
    padding: 0.9vw;
    width: 7.5%;
}

#retour{
    transition: 0.3s;
    text-decoration: none;
    color: black;
    font-family: 'Tilt Warp';
    font-size: 1.0vw;
    background-color: white;
    display: block;
    padding: 0.75vw;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0;
}

#retour:hover{
    transition: 0.3s;
}

#download{
    transition: 0.2s;
    text-decoration: none;
    color: black;
    font-family: 'Tilt Warp';
    font-size: 1.0vw;
    background-color: white;
    padding: 0.75vw;
    text-align: center;
    margin: 0 4vw 4vh 4vw;
    display: block;
    width: fit-content;
}

#download:hover{
    transition: 0.2s;
    color: white;
    background-color: blue;
}

#marvin{
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.6;
    width: 60vw;

}

#members{
    margin: 4vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: content;
}

.member{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.photos{
    width: 10vw;
}

.description{
    color: white;
    font-family: 'Tilt Warp';
    font-size: 1.15vw;
    margin: 10px auto;
    text-align: center;
}

.gameplay{
    width: 40vw;
    margin: 5vh 6vw 8vh 6vw;
    border-radius: 5px;
}

.gameplayTitle{
    margin: 0 6vw;
    font-size: 1.4vw;
}


.line{
    width: 10vw;
    display: block;
    margin: -10px 0;
}

.circle{
    width: 15px; height: 15px;
    background-color: white;
    border-radius: 100%;
    margin: auto;

}
.stripe{
    width: 5px; height: 170px;
    background-color: white;
    margin: auto;
    transform: translateY(-5px);
}

.task{
    position: absolute;
    transform: translateX(50px);
    width: 70%;
}






@media screen and (max-width: 850px){
    #title{
        margin: 4vw;
        font-size: 12vw;
    }

    h3{
        margin: 4vh 4vw 0 4vw;
        max-width: 65ch;
        font-size: 7vw;
    }

    p{
        max-width: 35ch;
        font-size: 2.5vw;
    }

    #enclave{
        margin: 10px 4vw;
        color: black;
        font-family: 'Tilt Warp';
        font-size: 4vw;
        text-align: center;
        letter-spacing: 0.35vw;
        background-color: white;
        padding: 2vw;
        width: 20vw;
    }

    #retour{
        font-size: 5vw;
        padding: 1vw;
    }

    #download{
        font-size: 3vw;
        padding: 4vw;
    }

    img{
        width: 80vw;
    }

    .task{
        font-size: 4vw;

    }
}