
/* fonts declaration */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Gasoek+One&family=Rubik+Mono+One&family=Tilt+Warp&display=swap');


@keyframes blink{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    5%{
        opacity: 1;
    }
    5.5%{
        opacity: 0;
    }
    8%{
        opacity: 1;
    }
    9.5%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    50%{
        transform: translateY(20px);

    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}



body{
    background-color: black;
}


#title{
    animation: blink forwards 10s infinite;
    animation-timing-function: ease-in-out;
    margin: 4vw;
    font-size: 15vw;
    font-family: 'Tilt Warp';
    letter-spacing: 0.5vw;
    color: white;
    user-select: none;
    animation-timing-function: ease-in-out;
}


.Button{
    transition: 0.25s;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-family: 'Tilt Warp';
    color: white;
    font-size: 1.5vw;
    border-bottom: white 3px solid;
    width: 18%;
    text-align: left;
    margin: 4vh 5vw;
    padding: 1vh 0vw;
}

.Button:hover{
    transition: 0.25s;
    text-shadow: 0 3px  red;
    font-size: 1.6vw;
}

