
/* fonts declaration */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Gasoek+One&family=Rubik+Mono+One&family=Tilt+Warp&display=swap');

@font-face {
    font-family: 'Aeogo';
    src: url("./fonts/Aeogo/AeogoPixellated-Regular.ttf");
}

@keyframes blink{
    5%{
        opacity: 1;
    }
    5.5%{
        opacity: 0;
    }
    8%{
        opacity: 1;
    }
    9.5%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}



body{
    background-color: black;
}


#title{
    animation: blink forwards 10s infinite;
    animation-timing-function: linear;
    margin: 4vw;
    font-size: 15vw;
    font-family: 'Tilt Warp';
    letter-spacing: 0.5vw;
    color: white;
}
