h2
{
color: grey;
font-size: 2em;
}
body
{
  width: 1000px;
  margin: 1 auto;
  background-image: url(<img src="./images/Image12345.PNG">);
  padding: 0 50px 1000px 50px;
  border: 1px solid transparent;
}


p {
  font-size: 1.3em;
  color: grey;
  background-color:transparent;
}
.ent
{
color: grey;
}
div
{
background-color : transparent;
}
